<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-FairShare</title>
    <style>
    :root {color-scheme: dark; }
    * { box-sizing: border-box; }
    body {
        font-family: Arial, sans-serif;
        background-color:#111;
        color: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        }
    .container {
        width: 90%;
        max-width: 400px;
        text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>About</h2>
        Fairshare is a payment maneger application for group.
        <h3>Key features</h3>
        <ul>
            <li>Simplified payment</li>
            <li>Groupwise login system</li>
            <li>Payment authentication</li>
        </ul>

    </div>
  
</body>
</html>