<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login/Sign Up -FairShare</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>        
            <a href="{{ url_for('home') }}"><img src="/static/logo.svg" alt="FairShare" width="250"></a>

            <nav class="navlinks">
                <a href = "{{ url_for('register.start') }}" class=>Login/Sign Up</a>
                <a href = "{{ url_for('about') }}" class=>About</a>
                <a href = "{{ url_for('payment') }}" class=>Compute</a>
            </nav>
        </header>
        <div class="container">
            <h1>Login/Sign Up</h1>
            <form id ="subForm" class= "form-group">
                <input type="text" name = "group_name"id="GroupID" placeholder="GroupID">
                <input type="text" name = "user_name" id="UserID" placeholder="UserID">
                <input type="password" id="UserPass" placeholder="Password">
                <button type = "submit"id="RG_button" class="btn">Sign up Group</button>
                <button type = "submit"id="JG_button" class="btn">Join Group</button>
                <button type = "submit"id="L_button" class="btn">Login</button>
            </form>
        </div>
        <script src="/static/start.js"></script>
    </body>
</html>