<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>register group</title>
    </head>
    <body>
        <form action="{{ url_for('register_group_from_form') }}" method="POST">
            
            <input type="text" name="groupName" id="GroupName" placeholder="Group Name" required>
            <input type="text" name="leaderUserName" id="LeaderUserName" placeholder="Leader User Name" required>
            <input type="password" name="leaderPassword" id="LeaderPass" placeholder="Leader Password" required>
            
            <button type="submit" class="RGbtn">Register Group</button>
            
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        
        {% if success %}
            <script>
                localStorage.setItem('currentGroup', '{{ group_id }}');
                localStorage.setItem('currentUser', '{{ user_id }}');
                localStorage.setItem('accessToken', `{{ access_token|tojson }}`);
                
                window.location.href = "/compute.html";
            </script>
        {% endif %}
    </body>
</html>
