<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compute-FairShare</title>
    <link rel="stylesheet" href="/static/compute.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/compute.js" defer></script>
</head>

<body>
    <header>
        <a href="{{ url_for('home') }}">
            <h1>FairShare</h1>
        </a>

        <nav class="navlinks">
            <a href="{{ url_for('register.start') }}">Login/Sign Up</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('payment') }}">Compute</a>
        </nav>
    </header>

    <div class="container">
        <div class="header-info">
            <h1>Payment Manager</h1>
            <span id="display-group">Group: ---</span>
            <span id="display-user">User: ---</span>
        </div>

        <div id="input-section">
            <form id="payment-form">
                <div class="input-field">
                    <strong>Title:</strong>
                    <input type="text" id="title" placeholder="Title">
                </div>
                <div class="input-field">
                    <strong>Payer:</strong>
                    <span id="payer"></span>
                </div>

                <div class="input-field">
                    <strong>Currency:</strong>
                    <select id="currency-select"></select>
                </div>

                <strong>Payee & Amount:</strong>
                <div id="payeeListContainer">
                    <div class="payee-row">
                        <select class="p-name"></select>
                        <input type="number" class="p-amount" placeholder="Amount">
                    </div>
                </div>

                <button type="button" id="add-payee-btn" class="add-row-btn">Add Payee</button>
                <button type="submit" class="register-btn">Submit the Payment</button>
            </form>
        </div>

        <h2>Pending Approval</h2>
        <ul id="unapprovedList"></ul>

        <h2>Approved Payments</h2>
        <ul id="approvedList"></ul>

        <h2>Settlement</h2>
        <form id="settlement-form">
            <button type="submit" class="add-row-btn settlement-btn">Settle Balances</button>
        </form>
        <div id="Output">No data to display</div>
    </div>

</body>

</html>
