<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compute-FairShare</title>
    <link rel="stylesheet" href="/static/compute.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/compute.js" defer></script>
</head>

<body>
    <header>
        <a href="{{ url_for('home') }}">
            <h1>FairShare</h1>
        </a>

        <nav class="navlinks">
            <a href="{{ url_for('register.start') }}">Login/Sign Up</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('payment') }}">Compute</a>
        </nav>
    </header>

    <div class="container">
        <div class="header-info">
            <h1>Payment Manager</h1>
            <span id="display-group">Group: ---</span>
            <span id="display-user">User: ---</span>
        </div>

        <div id="input-section">
            <div>
                <strong>Title</strong>
                <input type="text" id="title" placeholder="e.g. Dinner, Taxi, Hotel...">
            </div>
            <div>
                <strong>Payer</strong><br>
                <span id="payer"></span>
            </div>

            <div>
                <strong>Currency</strong>
                <select id="currency-select"></select>
            </div>

            <strong>Payee & Amount</strong>
            <div id="payeeListContainer">
                <div class="payee-row">
                    <select class="p-name"></select>
                    <input type="number" class="p-amount" placeholder="Amount">
                </div>
            </div>

            <button class="add-row-btn" onclick="addPayeeRow()">+ Add Payee</button>
            <button class="register-btn" onclick="registerPayment()">Submit Payment</button>
        </div>

        <h2>Pending Approval</h2>
        <ul id="unapprovedList"></ul>

        <h2>Approved Payments</h2>
        <ul id="approvedList"></ul>

        <h2>Settlement</h2>
        <button class="settle-btn" onclick="calculateMinFlow()">Settle Balances</button>
        <div id="Output">No data to display</div>
    </div>

</body>

</html>
