<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FairShare</title>

        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>        
            <a href="{{ url_for('home') }}"><img src="/static/logo.svg" alt="FairShare" width="250"></a>

            <nav class="navlinks">
                <a href = "{{ url_for('register.start') }}" class=>Login/Sign Up</a>
                <a href = "{{ url_for('about') }}" class=>About</a>
                <a href = "{{ url_for('payment') }}" class=>Compute</a>
            </nav>
        </header>
        <div class="container">
            <h1>Welcome to FairShare</h1>
            <h3>Make your payment easier and safer</h3>
            <div class="links">
                <a href = "{{ url_for('register.start') }}" class="btn">Login/Sign Up</a>
                <a href = "{{ url_for('about') }}" class="btn">About</a>
            </div>
        </div>
    </body>
</html>